.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color:#6a5d5d ;
    background-color: white;
}

.table tr:nth-of-type(odd){
    background-color: rgba(91, 117, 148, 0.178);
}
.table td{
    padding: 0.5rem;
}
.table tr{
    display: flex;
    justify-content: space-between;
}